@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter-VariableFont_opsz,wght.ttf) format("woff2");
}

:root {
  --font-ui: "Inter";
}

.timeline-editor-edit-row {
  background-image: none!important;
}

body {
  @apply font-ui;
}
